:root {
    --gold: #C09300;
    --black: #000;
    --white: #fff;
    --red: red
}
@font-face {
    font-family: dinNext;
    src: url('/assets/app/fonts/din-next-lt-w23.ttf');
}
@font-face {
    font-family: cairo;
    src: url('/assets/app/fonts/cairo.ttf');
}

body {
    font-family: cairo;
}

#bookingHome {
    direction: rtl;
    text-align: right;
    .header {
        width: 100%;
        height: 160px;
        margin-top: -10px;
        background: url('/assets/app/images/header.png');
        background-repeat: no-repeat;
        background-position: center;
    }

    .nav-link {
        background: #fff;
        font-weight: normal;
        padding: 10px 20px;
        margin: 5px;
        border-radius: 10px;
        color: #aaa;
        font-size: 12px;
    }
    .nav-link:hover,
    .nav-link.active {
        background: var(--gold);
        color: #fff;
    }
    @media (min-width: 1200px) {
        .container {
            max-width: 970px;
        }
        .card {
            margin-top: -50px;
            border-radius: 10px;
            padding: 0.5rem 0;
        }
        .card-body {
            padding: 0.3rem 0;
        }
        .block2 {
            padding-top: 5px;
        }
        .block1, .block3 {
            padding-top: 15px;
        }
    }
}


.textCaptilaize {
    text-transform: capitalize;
}
.textUpper {
    text-transform: uppercase;
}
.textLower {
    text-transform: lowercase;
}
.goldColor {
    color: var(--gold);
}
.blackColor {
    color: var(--black);
}
.fontDinNext {
    font-family: dinNext !important;
}
.font500 {
    font-weight: 500;
}
.font600 {
    font-weight: 600;
}
.font700 {
    font-weight: 700;
}
.font800 {
    font-weight: 800;
}
.font900 {
    font-weight: 900;
}
.size11 {
    font-size: 11px;
}
.size12{
    font-size: 12px;
}
.size13{
    font-size: 13px;
}
.size14{
    font-size: 14px;
}
.size15 {
    font-size: 15px;
}
.size16 {
    font-size: 16px;
}
.size28 {
    font-size: 28px;
}

.height12 {
    height: 12px;
}

.gold.lighten-1 {
    background-color: var(--gold) !important;
    border-color: var(--gold) !important
}
.v-date-picker-title__date {
    font-size: 22px;
    color: #fff;
    text-align: center;
}
.ml90 {
    margin-left: 90px;
    font-size: 16px;
    color: var(--black);
}

::placeholder {
    color: #C0C4CC !important;
}
.form-control {
    height: 40px;
}
.form-control {
    color: var(--gold) !important;
    font-size: 13px;
    font-weight: 400;
}



.bookConfirmButton {
    width:100%;
    height:40px;
    background: var(--gold) !important;
    color: #fff;
    border: 1px solid var(--gold);
}

.el-select-dropdown__item{
    text-align: right;
}

.el-tag.el-tag--info {
    background-color: var(--gold) !important;
    border-color: var(--gold) !important;
    color: #fff !important;
    margin: 4px 4px 0px 6px !important;
}
.el-select .el-tag__close.el-icon-close {
    right: 7px !important;
    background-color: var(--gold) !important;
    color:  var(--white) !important;
}
.el-select .el-tag__close.el-icon-close:hover {
    color: var(--red) !important;
}
.el-select-dropdown.is-multiple .el-select-dropdown__item.selected {
    background-color: var(--gold) !important;
    color:  var(--white) !important;
}
.el-select-dropdown.is-multiple .el-select-dropdown__item.selected::after {
    right: unset !important;
    left: 20px;
}

body {
    direction: rtl;
    text-align: right;
}

.app-main__outer {
 padding-left: unset !important;
 padding: 60px 0 280px 0px;
 padding-right: 230px;   
}
.app-sidebar {
    width: 230px;
}

.btn-primary,
.btn-primary.dropdown-toggle,
.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle
{
    background-color: var(--gold) !important;
    border-color: var(--gold) !important;
}
.v-sidebar-menu .vsm-item.active-item > .vsm-link,
 .v-sidebar-menu .vsm-link:hover,
  .app-sidebar.text-lighter .v-sidebar-menu .vsm-item.active-item > .vsm-link,
   .app-sidebar.text-darker .v-sidebar-menu .vsm-item.active-item > .vsm-link 
{
    background: #fff4cf;
    color: var(--gold) !important;
}   

.btn-outline-primary {
    color: var(--gold) !important;
    border-color: var(--gold) !important;
}
.btn-outline-primary:hover {
    background: var(--gold) !important;
    color: #fff !important;
}
.page-item.active .page-link, .pagination .active.page-number .page-link {
    background-color: var(--gold) !important;
    border-color: var(--gold) !important;
    color: #fff !important;
}
.page-link {
    color: var(--gold) !important;
}

.modal-header .close {
    position: absolute;
    left: 0;
}
.el-notification__closeBtn {
    position: absolute;
    right: unset !important;
    left: 10px;
}