.btn-lg.btn-login {
  padding: 0.5rem 3rem;
}

label.required {
  color: $danger;
}

.form-group.has-error {
  color: $danger;
  .form-control {
    border-color: $danger;
  }
}

.ck-editor__editable {
  /* ref https://stackoverflow.com/questions/53935399/set-ckeditor-height-in-vue-js
  used for changing the min height for ckeditor v5 */
  min-height: 150px;
}
